//
// Variables.
//

// Fonts.
$opensans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Colors.
$text: #4c565d;
$highlight1: #9f2165;
$highlight2: #fec232;
$highlight3: #1da0a5;
$background1: #e2e7eb;
$background2: #f2ebe5;
$background3: #1b2e38;

// Breakpoints
$bp-medium: 800px;
